<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/upload" enctype="multipart/form-data" method="post">
		<input type="file"  id="file-input" name="media">
		<input type="submit" name="submit">
	</form>

</body>
</html>