@import url('https://fonts.googleapis.com/css?family=Quicksand');

body
{
  margin: 0;
  padding: 0;
  background-image: url(/pics/bg-alt.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;   /*counter IE probs*/
  text-shadow: none;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.loginbox
{
  width: 300px;
  height: 410px;    /*450px to include help div*/
  opacity: 0.9;
  background: #eee;
  color: #333;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  /*animation-iteration-count: 10;*/
}

.avatar
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -12%;
  left: calc(50% - 50px);
  cursor: pointer;
}

.avatar.active
{
  transform: rotate(360deg);
  transition: 1s ease-in-out;
  transition-delay: 0ms;
}

h1
{
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #333;
  font-variant: normal;
}

.loginbox p
{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  margin-top: 16px;
  color: #333;
  letter-spacing: 0.1px;
}

.loginbox input[type="text"], input[type="password"]
{
  margin-top: -7px;
  border: none;
  padding-top: 11px;
  border-bottom: 1px solid #333;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  background: transparent;
  outline: none;
  height: 40px;
  width: 240px;
  font-size: 15px;
  color: #222;
  font-family: 'Quicksand', sans-serif;
}

.loginbox input[type="submit"]
{
  font-family: 'Quicksand', sans-serif;
  margin-top: 3px;
  margin-bottom: 0px;
  border: none;
  outline: none;
  height: 41px;
  width: 240px;
  background: #fb2525;
  color: #fefefe;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: 0.4px;
  text-align: center;
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
  transition: all 0.15s ease-in-out;
  font-weight: 700;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  letter-spacing: 0.5px;
  padding-top: 1px;
}
/*
.loginbox .help
{
  margin-top: -8px;
}

.loginbox a
{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #444;
}

.loginbox a:hover
{
  text-decoration: underline;
  transition: all 0.15s ease-in;
  color: #000;
}
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img
{
  pointer-events: auto;
}

.toggle
{
  position: absolute;
  top: 51.7%;
  left: 85%;
  transform: translate(-50%,50%);
  cursor: pointer;
}

.button
{
  width: 20px;
  height: 10px;
  background: #fb2525;
  border-radius: 30px;
  padding: 2px;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.button > .circle
{
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.button.active
{
  background: #ffc107;
}

.button.active > .circle
{
  margin-left: 10px;
  background: #010101;
  transition: all 0.3s ease-in-out;
}

@media (max-height: 550px) {
  .loginbox
  {
    margin-top: 50px;
    margin-bottom: 33px;
  }
}
@media (max-height: 450px) {
  .loginbox
  {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}
@media (max-height: 350px) {
  .loginbox
  {
    margin-top: 130px;
    margin-bottom: 25px;
  }
}

body:after
{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing-disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url(bg-alt.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-moz-selection { /* Firefox */
    background: #fff498;
}

::selection {
    background: #fff498;
}

@supports (-ms-ime-align:auto) {
    .loginbox p {
        font-weight: 500;
    }
    .loginbox h1 {
        font-weight: 500;
    }
    .loginbox input[type="submit"]:hover
    {
        font-weight: 500;
    }
}
